In [1]:
import pandas as pd

In [2]:
df1=pd.read_csv("loan_df.csv")
df1.isnull().sum()

Loan ID                             1
Customer ID                         1
Loan Status                         1
Current Loan Amount                 1
Term                                1
Credit Score                        0
Annual Income                       0
Years in current job                0
Home Ownership                      0
Purpose                             0
Monthly Debt                        1
Years of Credit History             1
Months since last delinquent    48338
Number of Open Accounts             1
Number of Credit Problems           1
Current Credit Balance              1
Maximum Open Credit                 3
Bankruptcies                      191
Tax Liens                          10
dtype: int64

In [3]:
df1.columns

Index(['Loan ID', 'Customer ID', 'Loan Status', 'Current Loan Amount', 'Term',
       'Credit Score', 'Annual Income', 'Years in current job',
       'Home Ownership', 'Purpose', 'Monthly Debt', 'Years of Credit History',
       'Months since last delinquent', 'Number of Open Accounts',
       'Number of Credit Problems', 'Current Credit Balance',
       'Maximum Open Credit', 'Bankruptcies', 'Tax Liens'],
      dtype='object')

In [17]:
df1["Purpose"].unique()

array(['Home Improvement', 'Debt Consolidation', 'Home Purchase', 'Other',
       'Business', 'Vehicle Purchase', 'Major Purchase', 'Vacation',
       'Medical Expenses', 'Wedding', 'Education', 'Moving',
       'Renewable Energy', 'Unknown'], dtype=object)

In [24]:
df1["Current Credit Balance"].max()

32878968.0

In [14]:
df1["Home Ownership"].unique()

array(['Mortgage', 'Owned', 'Rent', 'Unknown'], dtype=object)

In [25]:
df1["Purpose"].value_counts()

Purpose
Debt Consolidation    70834
Other                  8117
Home Improvement       5237
Business               1621
Vehicle Purchase       1165
Medical Expenses        983
Home Purchase           582
Vacation                577
Major Purchase          330
Moving                  135
Wedding                 105
Education                91
Renewable Energy          8
Unknown                   1
Name: count, dtype: int64