In [2]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv("./datasets/women.csv")
df.sample()

,No,Country,Level of development,European Union Membership,Currency,Women Entrepreneurship Index,Entrepreneurship Index,Inflation rate,Female Labor Force Participation Rate
44,43,Peru,Developing,Not Member,National Currency,43.6,30.9,3.5,63.4

In [5]:
df.columns

Index(['No', 'Country', 'Level of development', 'European Union Membership',
       'Currency', 'Women Entrepreneurship Index', 'Entrepreneurship Index',
       'Inflation rate', 'Female Labor Force Participation Rate'],
      dtype='object')

In [6]:
df.isnull().sum()

No                                       0
Country                                  0
Level of development                     0
European Union Membership                0
Currency                                 0
Women Entrepreneurship Index             0
Entrepreneurship Index                   0
Inflation rate                           0
Female Labor Force Participation Rate    0
dtype: int64

In [9]:
df.sample(4)

,No,Country,Level of development,European Union Membership,Currency,Women Entrepreneurship Index,Entrepreneurship Index,Inflation rate,Female Labor Force Participation Rate
32,10,China,Developing,Not Member,National Currency,38.3,36.4,1.40,62.4
28,2,Argentina,Developing,Not Member,National Currency,35.7,37.2,26.50,47.3
35,15,Egypt,Developing,Not Member,National Currency,27.7,28.1,11.00,64.6
31,9,Brazil,Developing,Not Member,National Currency,31.1,25.8,10.67,55.9